<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

<th:block th:insert="fragments/navbar.html :: navbar" />

<div align="center" class="form-group">
    <h5 align="center" style="width:60%; max-width:600px" class="card-header info-color white-text text-center py-4">
        <strong>Choose subject</strong>
    </h5>
    <form align="center" style="width:60%; max-width:600px" class="text-center border border-light p-5" action="#" th:action="@{/studentSchedule/subjectSchedule/}" th:object="${subjects}" method="get">
        <select style="width:60%; max-width:600px" class="mdb-select md-form" name="subject">
            <option th:value="null">All subjects</option>
            <option  th:each="subject: ${subjects}" th:value="${subject.id}" th:text="${subject.name}" th:selected="${subject}==${subject.id}"></option>>
        </select>
        <p align="center" style="width:60%; max-width:600px"><input align="center"  class="form-control"  type="submit" value="Show"/></p>
    </form>
</div>

    <div align="center" class = "center-block" th:each="mschedule : ${mappedSchedule}">
        <div align="center" class="w-50 p-3 center-block text-left" th:text="${mschedule.key.key}" style="background-color:#1dabc1; ; width:60%; max-width:600px;font-weight:bold;"></div>
        <div align="center" class="w-50 p-3 center-block text-left" th:text="${mschedule.key.value} ? 'Odd week' : 'Even week'" style="background-color:#1dabc1; height:60%; width:60%; max-width:600px;"></div>
        <table class="table center-block" style="background-color:#38ab83; width:60%; max-width:600px">
            <tr style="background-color:#1cd095;">
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
                <th scope="col">ClassTime</th>
            </tr>
            <tr th:each="row : ${mschedule.value}">
                <td scope="row" th:utext="${row.subject}"></td>
                <td scope="row" th:utext="${row.teacher}"></td>
                <td scope="row" th:utext="${row.classTimeDto.startTime + '-' + row.classTimeDto.endTime}"></td>
            </tr>
        </table>
    </div>
    <div align="center" class = "container">
        <table class="table">
        <tr th:if="${schedules.empty}">
            <td colspan="2"> No Schedule Available </td>
        </tr>
        <tr>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th scope="col">Day Name</th>
            <th scope="col">ClassTime</th>
        </tr>
        <tr th:each="schedule : ${schedules}">
            <td scope="row" th:utext="${schedule.subject}"></td>
            <td scope="row" th:utext="${schedule.teacher}"></td>
            <td scope="row" th:utext="${schedule.dayName}"></td>
            <td scope="row" th:utext="${schedule.classTimeDto.startTime + '-' + schedule.classTimeDto.endTime}"></td>
        </tr>
        </table>
</body>
</html>