
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <th:block th:fragment="links" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    </th:block>

    <style>
        .table-bordered{
            width: 60%;
            text-align: center;
            background-color: #e9ecef;
        }
        .form-control {
            font-size: 120%;
            width: 20%;
        }
    </style>
</head>

<body>

        <th:block th:insert="fragments/navbar.html :: navbar" />


        <br></br>

        <div class="col-md-3 text-center">
            <a class="btn btn-outline-info" href="/home">Back</a>
        </div>


        <form  align="center" th:action="'/teacherSchedule'"  method='GET'>
                <div align="center">
                    <p>
                        <select name="weekIsOdd" class="form-control">
                            <option th:value="null"> Even/Odd week</option>
                            <option   th:value="false" th:selected="${weekIsOdd} == false">Even week</option>
                            <option   th:value="true"  th:selected="${weekIsOdd} == true">Odd week</option>>
                        </select>
                    </p>
                    <p>
                        <select name="subjectId" class="form-control">
                            <option th:value="null">All subjects</option>
                            <option  th:each="el: ${subjects}" th:value="${el.getId()}" th:text="${el.getName()}" th:selected="${subjectId}==${el.getId()}"></option>>
                        </select>
                    </p>
                    <button class="btn" type="submit">Show</button></td>
                </div>
        </form>


        <br></br>
        <h2 align="center" class="container">Tomorrow schedule</h2>
        <br></br>


        <table align="center" class="table table-bordered">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Time</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Groups</th>
                </tr>
            </thead>

            <tbody>
            <div th:each="el, iStat: ${tomorrowScheduleMap.entrySet()}"  th:with="dayOfWeek=${el.getKey().getDayName()}">

                <tr>
                    <div th:if="${iStat.first}">
                        <th class="day" th:text="${dayOfWeek}"></th>
                    </div>


                    <div th:unless="${iStat.first}">
                        <th th:if="${dayOfWeek != tomorrowScheduleMapKeys.get(iStat.index - 1).getDayName()}" th:text="${dayOfWeek}"></th>
                        <th th:if="${dayOfWeek == tomorrowScheduleMapKeys.get(iStat.index - 1).getDayName()}"></th>
                    </div>

                    <td>
                        <dl>
                            <dt  th:text="${el.getKey().getClassTimeDto().getStartTime()} +'-'+ ${el.getKey().getClassTimeDto().getEndTime()}"></dt>
                            <dt th:if="${el.getKey().getWeekIsOdd()}">Odd week</dt>
                            <dt th:unless="${el.getKey().getWeekIsOdd()}">Even week</dt>
                        </dl>
                    </td>

                    <td>
                        <dl>
                            <dt><b th:text="${el.getKey().getSubjectDto().getName()}"></b></dt>
                            <dt th:if="${el.getKey().getClassType().toString() == 'LECTURE'}">Lecture</dt>
                            <dt th:if="${el.getKey().getClassType().toString() == 'SEMINAR'}">Seminar</dt>
                            <dt th:if="${el.getKey().getClassType().toString() == 'LAB'}">Laboratory workshop</dt>
                        </dl>
                    </td>

                    <td>
                        <dl th:each="group: ${el.getValue()}">
                            <dt><b th:text="${group.getGroupName()}"></b></dt>
                        </dl>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>


        <br><br></br></br>

        <h2 align="center">Week schedule</h2>
        <br></br>

        <table align="center" class="table table-bordered">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Time</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Group</th>
                </tr>
            </thead>

            <tbody>
                <div th:each="el, iStat: ${weekScheduleMap.entrySet()}" th:with="dayOfWeek=${el.getKey().getDayName()}">

                    <tr>

                        <div th:if="${iStat.first}">
                            <th class="day" th:text="${dayOfWeek}"></th>
                        </div>


                        <div th:unless="${iStat.first}">
                            <th th:if="${dayOfWeek != weekScheduleMapKeys.get(iStat.index - 1).getDayName()}" th:text="${dayOfWeek}"></th>
                            <th th:if="${dayOfWeek == weekScheduleMapKeys.get(iStat.index - 1).getDayName()}"></th>
                        </div>


                        <td>
                            <dl>
                                <dt th:text="${el.getKey().getClassTimeDto().getStartTime()} +'-'+ ${el.getKey().getClassTimeDto().getEndTime()}"></dt>
                                <dt th:if="${el.getKey().getWeekIsOdd()}">Odd week</dt>
                                <dt th:unless="${el.getKey().getWeekIsOdd()}">Even week</dt>
                            </dl>
                        </td>

                        <td>
                            <dl>
                                <dt><b th:text="${el.getKey().getSubjectDto().getName()}"></b></dt>
                                <dt th:if="${el.getKey().getClassType().toString()=='LECTURE'}">Lecture</dt>
                                <dt th:if="${el.getKey().getClassType().toString()=='SEMINAR'}">Seminar</dt>
                                <dt th:if="${el.getKey().getClassType().toString()=='LAB'}">Laboratory workshop</dt>

                            </dl>
                        </td>

                        <td>
                            <dl th:each="group: ${el.getValue()}">
                                <dt><b th:text="${group.getGroupName()}"></b></dt>
                            </dl>
                        </td>

                    </tr>
                </div>
            </tbody>
        </table>
</body>
</html>



