<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/commonHeaders.html :: commonHead"/>
</head>
<body>
<th:block th:insert="fragments/navbar.html :: navbar"/>
<div class="container">
    <div class="modal-body">
        <form th:action="@{/homework}" method="post" id="file-upload-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file-input">File</label>
                <input name="file" type="file" class="form-control" id="file-input">
            </div>
            <input name="eventId" >
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>
<th:block th:insert="fragments/commoneJsFiles.html :: jsFiles"/>
</body>
</html>