<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <th:block th:fragment="links" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    </th:block>


    <style>
        .table{
            width: 30%;
            text-align: center;
        }
        select {
            font-size: 120%;
            width: 20%;
        }
    </style>

</head>
<body>
<th:block th:insert="fragments/navbar.html :: navbar" />

<form  align="center" th:action="'/teacherHomework/getEvents/'"  method='GET'>
    <table align= "center" class="table">
        <tr>
            <td width="35%">Sort</td>
            <td width="65%"><select name="sortingTypeOptional" class="form-control">
                <option th:value="'addSort'">by adding date</option>
                <option th:value="'deadlineSort'" th:selected="${sortingType}=='deadlineSort'">by deadline date</option>
            </select></td>
        </tr>
        <tr>
            <td width="35%">Subject</td>
            <td width="65%"><select name="subjectNameOptional" class="form-control">
                <option th:value="'all'">All</option>
                <option  th:each="el: ${subjects}" th:value="${el.getName()}" th:text="${el.getName()}" th:selected="${subjectName}==${el.getName()}"></option>
            </select></td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn" type="submit">Show</button></td>
        </tr>
    </table>
</form>


<div class="container">
    <div class="row p-3">
        <div class="col-md-4 p-3" th:each="event: ${events}" >
            <div class="card bg-light rounded mt-4 h-100">
                <div class="card-header" style="transform: rotate(0);">

                    <div th:text="${event.getStartDate().format(dateTimeFormatter)} +' - '+ ${event.getEndDate().format(dateTimeFormatter)}"></div>

                </div>
                <div class="card-body text-center">

                    <h5 th:text="${event.getSubject().getName()}"></h5>
                    <h5 th:text="'Group: '+ ${event.getGroup().getGroupName()}"></h5>


<!--                    <select  class="form-control">-->
<!--                        <option th:text="${event.getDescription()}">Description</option>-->
<!--                        <option th:text="${event.getDescription()}">Description</option>-->
<!--                    </select>-->


<!--                    <div class="dropdown">-->
<!--                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                            Dropdown-->
<!--                        </button>-->
<!--                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
<!--                            <p th:text="${event.getDescription()}"></p>-->
<!--                        </div>-->
<!--                    </div>-->

                    <form th:action="'/teacherHomework/getAssignments/' + ${event.getId()}" th:method="GET">
                        <input type="hidden" name="groupId" th:value="${event.getGroup().getId()}">
                        <input type="hidden" name="startDate"  th:value="${event.getStartDate().format(dateTimeFormatter)}">
                        <input type="hidden" name="endDate"  th:value="${event.getEndDate().format(dateTimeFormatter)}">
                        <input type="hidden" name="subjectName" th:value="${event.getSubject().getName()}">
                        <button class="btn btn-sml" type="submit">Attachments</button>
                    </form>


                    <div th:unless="${event.getDatabaseFileDto() == null}">
                        <p><a th:href="'downloadFile/' + ${event.getDatabaseFileDto().getId()}" class="btn btn-light" download>Download</a>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row justify-content-md-center">

                        <form th:action="'/teacherHomework/editEvent/' + ${event.getId()}" th:method="GET">
                            <input type="hidden" name="sortingType" th:value="${sortingType}">
                            <input type="hidden" name="subjectName" th:value="${subjectName}">
                            <button class="btn btn-primary btn-sm" type="submit">Edit</button>
                        </form>

                        <div th:if="${event.getCanDeleteEvent() == true}">
                            <form th:action="'/teacherHomework/deleteEvent/' + ${event.getId()}" th:method="POST">
                                <input type="hidden" name="sortingType" th:value="${sortingType}">
                                <input type="hidden" name="subjectName" th:value="${subjectName}">
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<!--<th:block th:insert="resources/templates/fragments/jsFiles.html :: jsFiles" />-->
<!--<script th:src="@{/static/js/home/home.js}"></script>-->


</body>
</html>