<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <th:block th:fragment="links" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    </th:block>

</head>
<body>
<th:block th:insert="fragments/navbar.html :: navbar" />


    <div align="center">
        <br></br>
        <a th:href="'/teacherHomework/showSubjects'" class="btn btn-outline-primary">Add homework event</a>
        <br></br>
        <a th:href="'/teacherHomework/getEvents'" class="btn btn-outline-primary">Show added events</a>
    </div>

</body>
</html>